@font-face {
    font-family: 'Arial';
    src: url("../../assets/fonts/arial.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Georgia';
    src: url("../../assets/fonts/georgia.ttf");
    font-style: normal;
    font-weight: 400;
}

/* SHARED */

:root {
    --main-color: #F1CDB3;
    --main-color-light: #FDDCC4;
    --white-color: #FFFFFF;
    --light-l-color: #F6F6F6;
    --light-s-color: #FAFAFA;
    --dark-3xl-color: #292929;
    --dark-xl-color: #4C4C4C;
    --dark-l-color: #545454;
    --dark-m-color: #B2B2B2;
    --dark-s-color: #CDCDCD;
    --light-bg-color: #F6F6F6;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 auto;
    color: var(--dark-3xl-color);
}

h1, h3, h4 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: 0;
}

h1 { 
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--dark-l-color);
}

h3 {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--dark-l-color);
}

h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--dark-l-color);
}

p {
    font-size: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

button, .button {
    display: inline-block;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 350ms ease-out;
    color: var(--white-color);
}

.button-secondary {
    padding: 13px 43px;
    background-color: var(--white-color);
    color: var(--dark-3xl-color);
    border: 2px solid var(--main-color);
}

.button-arrow {
    width: 52px;
    height: 52px;
    padding: 0;
    background-color: var(--light-bg-color);
}

.button-disabled {
    border: 2px solid var(--dark-s-color);
    cursor: default;
}

.button-active {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--dark-3xl-color);
    cursor: default;
}

.button-secondary:hover {
    background-color: var(--main-color-light);
    border: 2px solid var(--main-color-light);
}

@media all and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    h2 {
        letter-spacing: 0.06em;
    }

    h2, h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        letter-spacing: normal;
    }
}

/* HEADER */

header {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    transition: 350ms opacity cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

header .logo-subtitle {
    display: inline-block;
    letter-spacing: 0.1em;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 0 0 4px;
    color: var(--dark-3xl-color);
}

#mobile-button {
    display: none;
}

.mobile-nav-menu {
    display: none;
}

.nav-menu li {
    display: inline;
    height: 24px;
    margin-left: 32px;
    line-height: 160%;
}

.nav-menu li a {
    padding: 3px 0;
    color: var(--dark-l-color);
}

.mobile-nav-menu li a:hover,
.mobile-nav-menu li a:focus,
.nav-menu li a:hover {
    color: var(--dark-3xl-color);
    transition: color 350ms ease-in-out;
}

.mobile-nav-menu li.active a,
.nav-menu li.active a {
    color: var(--dark-3xl-color);
    border-bottom: 3px solid var(--main-color);
}

@media all and (max-width: 1280px) {
    header {
        width: unset;
        padding: 30px;
    }
}

@media all and (max-width: 768px) {
    header {
        padding: 30px 10px;
    }

    header .logo.hidden {
        opacity: 0;
    }

    .nav-menu {
        display: none;
    }

    #mobile-button {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 3;
        padding: 0;
        border: none;
        border-radius: 0;
        background: none;
        margin-right: 43px;
    }

    #mobile-button.vertical {
        position: absolute;
        right: 0;
        flex-direction: row;
    }

    #mobile-button span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: var(--dark-3xl-color);
        margin: 5px 0;
        transition: 500ms all ease-in-out;
    }

    #mobile-button.vertical span {
        width: 2px;
        height: 30px;
        margin: 0 6px;
    }

    #shadow {
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-color: var(--dark-3xl-color);
        opacity: 0.6;
        transition: 400ms opacity ease-in-out;
    }

    .mobile-nav-menu {
        display: block;
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 0;
        right: -320px;
        width: 0px;
        height: 100%;
        padding-top: 30px;
        background-color: var(--light-s-color);
        transition: 400ms all cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }

    .mobile-nav-menu .logo,
    .mobile-nav-menu ul {
        display: none;
    }

    .mobile-nav-menu.show {
        width: 320px;
        opacity: 1;
        right: 0;
    }

    .mobile-nav-menu.show .logo,
    .mobile-nav-menu.show ul {
        display: block;
    }

    .mobile-nav-menu .logo {
        margin-bottom: 150px;
        padding-left: 10px;
    }

    .mobile-nav-menu li {
        margin-bottom: 45px;
        text-align: center;
    }

    .mobile-nav-menu li a {
        font-size: 32px;
        font-family: 'Arial', Helvetica, sans-serif;
        color: var(--dark-l-color);
    }

    .start-screen-content {
        text-align: center;
        padding: 0 10px;
    }

    .start-screen-content img {
        width: 87%;
        height: auto;
        object-fit: cover;
    }

    .start-screen-content .content h2 {
        max-width: 230px;
        margin: 0 auto;
    }

    .start-screen-content .content p {
        max-width: 300px;
    }
}

/* PETS */

main {
    background-color: var(--light-l-color);
    display: flex;
    justify-content: center;
}

#pets {
    width: 1200px;
    padding: 80px 40px 100px 40px;
    text-align: center;
}

#pets h3 {
    max-width: 400px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 60px 0;
}

.card {
    max-width: 270px;
    max-height: 435px;
    text-align: center;
    background-color: var(--light-s-color);
    padding-bottom: 30px;
    margin: 0;
    cursor: pointer;
    transition: box-shadow 350ms ease-in-out;
}

.card:hover {
    background-color: var(--white-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover button {
    background-color: var(--main-color-light);
    border: 2px solid var(--main-color-light);
}

.card-title {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 28px 0;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 10px;
}

@media all and (max-width: 1280px) {
    #pets {
        width: unset;
        padding-bottom: 76px;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 30px 0 40px 0;
    }

    .card:nth-child(7),
    .card:nth-child(8) {
        display: none;
    }
}

@media all and (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 576px) {
    #pets {
        padding: 42px 0;
    }

    .grid {
        margin-top: 42px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        margin: 0 auto;
    }

    .card:nth-child(4),
    .card:nth-child(5),
    .card:nth-child(6) {
        display: none;
    }

    .pagination button {
        margin: 0 5px;
    }
}

/* FOOTER */

footer {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: var(--main-color);
    letter-spacing: 0.06em;
    padding-top: 40px;
}

footer h3 {
    color: var(--white-color);
    margin: 0;
}

footer li img {
    margin-right: 20px;
}

footer li a {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

footer h4 {
    max-width: 260px;
    color: var(--main-color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content img {
    max-height: 310px;
}

.contacts, .locations {
    margin-top: 16px;
    height: 234px;
}

.contacts h3 {
    max-width: 279px;
}

.contacts li {
    margin-top: 43px;
}

.locations h3 {
    max-width: 270px;
}

.locations li {
    margin-top: 34px;
}

@media all and (max-width: 1280px) {
    footer {
        padding-top: 0;
    }

    .footer-content {
        max-width: 650px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contacts, .locations {
        margin-top: 30px;
        margin-bottom: 65px;
    }

    .contacts {
        margin-right: 30px;
    }

    .locations {
        margin-left: 30px;
    }
}

@media all and (max-width: 768px) {
    footer {
        text-align: center;
        padding: 30px 10px 0 10px;
    }

    footer h3 {
        margin: 0 auto;
    }

    footer h4 {
        font-size: 20px;
    }

    .footer-content img {
        max-height: 269px;
    }

    .contacts,
    .locations {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .contacts ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts li {
        max-width: 90%;
    }

    .locations {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .locations ul {
        text-align: left;
    }
}